body {
    background-color:coral;
}
h1{
    font-size: 60px;
    
    margin-left: 10%;
}

h2 {
    font-size: 20px;
    margin-left:10%;
    margin-bottom: 3%;
}
label{
    font-size: 20px;
    font-weight: bold;
}



